script.
  $(document).ready(function(){
    requestData('/common', {method:'GET'}, function(resp){
      let data = JSON.parse(resp.data)
      if(data.length != 0){
        data.forEach((i) =>{
          $('#name').append(i.name)
          $('#positif').append(i.positif)
          $('#dead').append(i.meninggal)
          $('#dirawat').append(i.dirawat)
          $('#cageur').append(i.sembuh)
        })
      }
    })
  })
