extends views/layout
block content
  include views/loadingPage
  include views/datatable/function
    .main-container
      table.ui.single.line.table
        thead
          tr
          th Nama
          th Positif
          th Meninggal
          th Dirawat 
          th Sembuh
        tbody 
          td#name
          td#positif
          td#dead
          td#dirawat 
          td#cageur
        
  