.ui.message.transition
  i.close.icon
  .header
    | Update Data Covid-19
  hr
  .dataCovid.ui.two.column.centered.grid(style='margin-top:0.75%;')
script.
  $(document).ready(function(){
    requestData('/common', {method:'GET'}, function(resp){
      let data = JSON.parse(resp.data)
      let string = `<div class="ui tiny statistics">`
      if(data.length != 0){
        data.forEach((i) =>{
          let label = Object.keys(i)
          let value = Object.values(i)
          for(var x = 0; x <= label.length -1 ; x++){ 
            string += `
              <div class="red statistic" style="margin-right:5%;margin-left:5%;">
                <div class="value">
                  `+value[x]+`
                </div>
                <div class="label">
                  `+label[x].toUpperCase()+`
                </div>
              </div>
          `
          }
        })
        string += ` </div>`
        console.log(string)
        $('.dataCovid').html(string)
      }
    })
  })
  $('.message .close')
    .on('click', function() {
      $(this)
      .closest('.message')
      .transition('fade')
  })