doctype html
html
  head
    title GO-PUG
    block style 
      include views/style
    block script
      include views/libraries
  body
    block navbar
      include views/navbar
    block content
    
    block footer
      include views/footer
