script(src='/js/jquery-3.5.1.min.js')
script(src='/js/function-collections.js')
script(src='/semantic-ui/semantic.min.js')
//- script(src='/datatables.min.js')
//- script(src='/js/triangle.js')
//- script(src='/js/dataTables.bootstrap4.css')
//- script(src='/js/dataTables.bootstrap4.min.css')
//- script(src='/js/dataTables.semanticui.css')
//- script(src='/js/dataTables.semanticui.min.css')
//- script(src='/js/dataTables.buttons.min.js')
//- script(src='/js/iziToast.min.js')
//- script(src='/js/lib/function-collections.js')