.loader
  .ui.dimmable.dimmed  
    .ui.simple.dimmer
      #loading-wrapper
        #loading-text Loading
        #loading-content
script.
  $(window).on('load', function(){
    $('.loader').fadeOut()
  })