include views/style
include views/libraries
.ui.container
  canvas.connecting-dots
  .ui.segment.center.aligned
    h1 Semantic-UI Web Design
    .ui.segment.inverted.grey
      .ui.inverted.form
        form(action='/login', method='POST' autocomplete="off")
          .two.fields
            .field
              label Username
              input(placeholder='username', name='username', type='text')
            .field
              label Password
              input(placeholder='password', name='password', type='password')
          .required.inline.field
            .ui.slider.checkbox
              input(type='checkbox', name='newsletter')
              label Accept terms and conditions
          button.ui.submit.button(type='submit')
            | Submit
  .ui.form(style='display:none;')
    .ui.message
      .header We had some issues
      ul.list
        li Please enter your first name

