.pusher
  .ui.menu.borderless
    .item
      .ui.compact.icon.button
        i.icon.content
    .ui.simple.dropdown.item
      | HOME
      .menu.mega-menu
        .item Modal
        .item Fields
        .item
          i.dropdown.icon
          |Table &nbsp;&nbsp;&nbsp;
          .menu
            a.item(href='/getTable') Datatables v1
            a.item(href='#') Datatables v2
    .right.menu
      .ui.dropdown.item.simple
        | Ahmedd
        i.dropdown.icon
        .menu
          a.item Info
          a.item(href='/logout') Logout
