link(rel='stylesheet' type='text/css' href='/semantic-ui/semantic.min.css')
link(rel='stylesheet' type='text/css' href='/css/main.css')
//- link(rel='stylesheet' type='text/css' href='/css/charts.min.css')
//- link(rel='stylesheet' type='text/css' href='/css/datatable.css')
//- link(rel='stylesheet' type='text/css' href='/css/dataTables.bootstrap4.css')
//- link(rel='stylesheet' type='text/css' href='/css/dataTables.bootstrap4.min.css')
//- link(rel='stylesheet' type='text/css' href='/css/dataTables.semanticui.css')
//- link(rel='stylesheet' type='text/css' href='/css/dataTables.semanticui.min.css')
//- link(rel='stylesheet' type='text/css' href='/datatables.min.css')